/* Styles.css */ 
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  color: hsl(0, 36%, 70%);
}


.hero-text {
  margin-top: 20%;
}

h1 {
  font-size: 63.7px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: 17.3px;
  color: hsl(0, 6%, 24%);
}

.title-span {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

.text {
  padding-right: 215px;
    line-height: 27px;
    margin-top: 24px;
    margin-bottom: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 0px;
}

.hero-img {
  width: 100%;
  height: auto;
}

.hero-mobile-img {
  display: none;
}

.hero-text-container {
  padding: 7.8% 0 0 19.9%;
  background: url(../images/bg-pattern-desktop.svg)repeat center/cover;
    
}

.item2 {
  grid-column: 4 / span 3;
}

::-webkit-input-placeholder { /* Edge */
  color: hsl(0, 36%, 70%);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: hsl(0, 36%, 70%);
}

::placeholder {
  color: hsl(0, 36%, 70%);
}

.error-message {
  position: absolute;
    left: 197px;
    margin-top: 5%;
}

.error-icon {
  background-image: url(../images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 73% 49%;
  border: 2px solid hsl(0, 93%, 68%) !important;
}

.input-error-icon {
  background-image: url(../images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 73% 49%;
  border: 2px solid hsl(0, 93%, 68%) !important;
}

.email {
  width: 67%;
  padding: 17px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 30px;
    box-sizing: border-box;
}

.email-button {
  border: none;
  color: white;
  padding: 19.5px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  position: relative;
  top: 6px;
  right: 106px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0 1rem 2rem hsl(0, 93%, 68%, 0.3);
}

button:hover {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 80%, 86%));
  box-shadow: 0 1rem 3rem hsl(0, 93%, 68%, 0.8);
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero-text-container {
    padding: 7.8% 0 0 0;
}

.logo {
  width: 100px;
  margin: 1px 0 32px 32px;
}

.hero-text {
  margin-top: 18%;
  padding: 0px 10%;
}

.hero-img {
  display: none;
}

.hero-mobile-img {
  display: block;
  width: 100%
}

h1 {
  font-size: 43px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 9.3px;
  color: hsl(0, 6%, 24%);
  text-align: center;
}
.text {
  padding-right: 0 !important;
    margin-top: 20px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}

.email {
  width: 100%;
  padding: 11px 30px;
  margin: 0;
  display: inline-block;
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 14px;
}

.email-button {
  border: none;
    color: white;
    padding: 13px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    top: -47px;
       left: 84%;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 1rem 2rem hsl(0, 93%, 68%, 0.3);
}

.error-message {
  position: absolute;
  left: 66px;
  margin-top: 2%;
  font-size: 13px;
}

.error-icon {
    background-image: url(../images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 73% 49%;
}

}

footer {
  margin: 25px 0;
  clear: both;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
